<!DOCTYPE HTML>
<html>
<head>
    <title>Volund Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/menues.css" />
</head>
<body>

<section id="indexlayoutGrid">
	<div th:replace="fragments/header"></div>
	<div th:replace="fragments/mainMenu"></div>
	
	<main class="contentGrid">
		Content
		<div>
			<div class="stats">
		    	<h1>Backlog stats</h1>
		        <p>Backlog size: NumGames</p>
		        <p>Beaten games this year: NumGames</p>
		    </div>
		    
		    <div>
		    	<h2>Latest beaten games</h2>
		    </div>
		    
		    <div>
		    	<h2>Current vote sessions</h2>
		    </div>
		</div>
	</main>
	
	<div th:replace="fragments/footer"></div>
</section>

</body>
</html>