@{
    ViewData["Title"] = "Our Games";
}

<center>
    <div style="margin-bottom:10px;">
        <a href="https://github.com/Siponen/HackSlashRPG">
            <img src="~/images/225x150.png" />
        </a>
    </div>
    <div style="margin-bottom:10px;">
        <a href="https://github.com/Siponen/MeleeVR">
            <img src="~/images/225x150.png" />
        </a>
    </div>
</center>