	<nav>
		<ul class="menu">
			<a href="/backlog/addGame"><li id="addGameBtn">Add Game</li></a>
			<a href="/backlog/updateGame"><li id="updateGameBtn">Update Game</li></a>
			<a href="/backlog/removeGame"><li id ="removeGameBtn">Remove Game</li></a>
			<a href="/backlog/library"><li id="gameLibraryBtn">Game Library</li></a>
			
			<a href="#"><li id="unfinishedGamesBtn">Unfinished Games</li></a>
			<a href="#"><li id="beatenGamesBtn">Beaten Games</li></a>
			<a href="#"><li id="lowPrioGamesBtn">Low Priority Games</li></a>
			<a href="#"><li id="discontinuedGamesBtn">Discontinued Games</li></a>
		</ul>
	</nav>