	<nav>
		<ul class="menu">
			<a href="/backlog/addGame"><li id="addGameBtn">Add New Game</li></a>
			<a href="/backlog/advancedUpdateGame"><li id="UpdateGameBtn">Update Game</li></a>
			<a href="/backlog/library"><li id="gameLibraryBtn">Game Library</li></a>
			
			<a href="#"><li id="unfinishedGamesBtn">Unfinished Games</li></a>
			<a href="#"><li id="beatenGamesBtn">Beaten Games</li></a>
			<a href="#"><li id="lowPrioGamesBtn">Low Priority Games</li></a>
			<a href="#"><li id="discontinuedGamesBtn">Discontinued Games</li></a>
		</ul>
	</nav>