<div id="login-container">
    <div id="login-component">
      <h1 id="login-title">Login</h1>
      <form action="" method="POST">
        <div>
          <input type="text" placeholder="Username"/>
        </div>
        <div>
          <input type="password" placeholder="Password"/>
        </div>
        <hr />
        <div>
          <input id="login-submit" type="submit" value="LOGIN" />
        </div>
        <div>
          <div id="createAccount">Not registered? <a href="#">Create an account</a></div>
          <div id="forgotPassword"><a href="#">Forgot Password?</a></div>
        </div>
      </form>

      <section id="inspireQuote">
          Believe in yourself. You are braver than you think, <br/>
          More talented than you know, and capable of more than <br />
          you imagine
      </section>
      <section id="author">Roy T. Bennett</section>
    </div>
</div>