$bg-color: rgba(23, 52, 71, 0.9);
$login-color: rgb(206, 73, 91);
$login-link-color: rgb(255, 196, 0);

$gradients: (
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
);

#login-container
{
    background: map-get($gradients,"hot");
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    height:100%;
}

#inspireQuote {
    font-size:1.3em;
    margin-top:50px;
    margin-bottom:30px;
    font-weight:bold;
}

#author {
    font-size:1.4em;
}

#login-component {
    background: $bg-color;
    color:white;
    padding:50px 150px 200px 150px;

    input {
        margin:3px;
        background: $bg-color;
        border: none;
        color:white;
        padding:7px;
        font-size:1.1em;
        outline: 1px solid rgb(192, 192, 192);
    }

    input::placeholder {
        color:rgb(245, 245, 245);
    }

    hr {
        width:100%;
        max-width:250px;
        margin-bottom:15px;
        margin-top:15px;
        color:white;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }

    a {
        color:$login-link-color;
        font-weight:bold;
    }

    #login-submit {
        width:100%;
        max-width:250px;
        outline:2px solid $login-color;
    }

    #login-submit:hover {
        background-color:$login-color;
    }
}

#createAccount {
    margin-top:10px;
}

#forgotPassword {
    margin-top:12px;
}
