<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/menues.css" />
	<link rel="stylesheet" type="text/css" href="/css/forms.css" />
</head>
<body>
<div id="indexlayoutGrid">
	<div th:replace="fragments/header"></div>
	<div th:replace="fragments/mainMenu"></div>
		
	<main class="contentGrid">
		<form action="/backlog/removeGame" th:object="${gameForm}" method="post">
			<ul>
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"} />
			</ul>
			<h1>Remove Game</h1>
			<p>Do you really want to remove this game from the library?</p>
			<div>
				<label>Id:</label><p th:text="*{id}" /></p>
				<label>Game name: </label><p th:text="*{gameName}"></p>
				<label>Genre: </label><p th:text="*{genre}"></p>
				<label>Release year: </label><p th:text="*{releaseYear}"></p>
			</div>
			<input type="hidden" th:field="*{id}" th:value="*{id}"/>			
			<input type="submit" value="Remove Game"/>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		</form>
	</main>
	
	<div th:replace="fragments/footer"></div>
</div>
</body>
</html>