@model IEnumerable<VolundGameStudioWebsite.Models.Blog.Post>

@{
    ViewData["Title"] = "View";
}

<div class="post-container">
    <a href="">
</div>

<div class="post-container">
    <a href="">
        <div class="post-grid">
            <div class="post-picture">
                <img src="~/images/100x100.png" />
            </div>
            <div class="post-text">
                <div class="post-title">Venturing into VFX</div>
                <div class="post-subtitle">2018-10-10 by Gentlemandapper</div>
                <div>An epic adventure into special effects</div>
            </div>
        </div>
    </a>
</div>

<div>
    <a href="">
        <div class="post-grid">
            <div class="post-picture">
                <img src="~/images/100x100.png" />
            </div>
            <div class="post-text">
                <div class="post-title">Venturing into VFX</div>
                <div class="post-subtitle">2018-10-10 by Gentlemandapper</div>
                <div>An epic adventure into special effects</div>
            </div>
        </div>
    </a>
</div>