#layout-grid {
    display:grid;
    grid-template-rows:50px 50px auto 30px;
    grid-template-areas:
        "title"
        "nav"
        "content"
        "footer";
    height:100vh;
}

#titlebar {
    display:grid; //Img | Label | Empty | Navbar
    grid-template-columns:50px auto;
    grid-auto-rows: 50px;
    font-size:1.1em;
    background-color:#2d2d2d;
    color:white;
    label {
        margin-left:10px;
        justify-self: left;
        align-self: center;
    }
}

#nav-menu {
    display:grid;
    grid-template-columns: repeat(4, 0.15fr);
    justify-content:center;
    align-content:center;
    text-align:center;
    margin-top:1px;
    background:#47002a;
    font-size:1.3em;
    @media (max-width:650px) { font-size:1.0em;} 

    div {
        display:block;
    }

    a {
        display:flex;
        align-items:center;
        justify-content: center;
        text-decoration:none;
        color:white;
    }

    a:hover {
        text-decoration-line:underline;
        cursor: pointer;
        transition-duration: 0.4s;
    }
}

header {grid-area:"header";}
nav {grid-area:"nav";}
section {grid-area:"content";}
footer {
    display:flex;
    background:#47002a;
    color:white;
    align-items:center;
    justify-content: center;
    grid-area:"footer";

    font-size:1.0em;
    @media (max-width:650px) { font-size:0.85em;} 
}