<div id="layout-grid">
    <header>
        <div id="titlebar">
            <img src="/assets/img/50x50.png" />
            <label>Frontend Portfolio</label>
        </div>
    </header>
    <nav id="nav-menu">
        <div>
            <a href="">Home</a>
        </div>
        <a href="">Frontend</a>
        <a href="">Backend</a>
        <a href="">Resume</a>
    </nav>
    <section>
        <router-outlet></router-outlet>
    </section>
    <footer>Written by Conny 'Gentlemandapper' Siponen with Angular</footer>
</div>