@{
    ViewData["Title"] = "About";
}
<div style="background-color:white; padding:0px 5px 5px 5px;">
    <div>
        <h1>Völund Game Studio</h1>
        <p>
            Völund Game Studio is a new indie studio in Stockholm founded by Conny 'Gentlemandapper' Siponen.
        </p>
        <p>
            The goal is to develop and evolve the gameplay in a wide range of genre and to spread our knowledge of game design to future generations
        </p>
    </div>
    <div>
        <h1>The studio members</h1>
        <div class="row">
            <div class="col-md-3 center">
                <div style="background-color:white;">
                    <div style="">
                        <img src="~/images/me.jpg" style="" />
                        <div class="team-name">Conny Siponen</div>
                        <div class="row team-role">
                            Coder, Gameplay designer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>