@{
    ViewData["Title"] = "Our Games";
}
<h2>Our games</h2>
<div>
    <div class="row">
        <div class="col-md-3">
            <a href="https://github.com/Siponen/HackSlashRPG">
                <img src="~/images/volund_prototype.png" style="max-width:270px;" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>ProjektVölund (WIP)</h3>
            <p>
                <strong>Description:</strong> Singleplayer / Co-op 3D hack and slash RPG fusing elements
                from Dark souls, Battlerite, Dragons Dogma and other.
            </p>
            <a href="https://github.com/Siponen/HackSlashRPG">HackSlashRPG github repo</a>
        </div>
        <div>
            <div class="col-md-3">

            </div>
            <div class="col-md-7">
                <h3>Melee VR (WIP)</h3>
                <p>
                    <strong>Description:</strong> 3D VR Melee game
                </p>
                <a href="https://github.com/Siponen/MeleeVR">MeleeVR github repo</a>
            </div>
        </div>
    </div>
</div>