@{ 
    ViewData["Title"] = "Game concepts";
}

<h1>
    Game concepts
</h1>
<p>These are backlogged game concepts we want to build in the future</p>
<ul>
    <li>Hack and slash rpg</li>
    <li>FPS Diablo</li>
    <li>Evil god game</li>
    <li>VR melee game</li>
    <li>VR fps game</li>
    <li>3d singleplayer card game</li>
    <li>Turn based rpg</li>
    <li>Megaman game</li>
</ul>