hr.cool {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#addGameBtn {background-color:#280f04;}
#updateGameBtn {background-color:#1c3000;}
#removeGameBtn {background-color:#003024;}
#unfinishedGamesBtn {background-color:#382006; }
#beatenGamesBtn { background-color:#171c00;}
#lowPrioGamesBtn { background-color:#051c00;}
#discontinuedGamesBtn { background-color:#012119;}
#gameLibraryBtn { background-color:#1e0233;}

.menu {
	font-family: monospace;
	list-style: none;
	padding:0;
	margin:0;
}

.menu a {
  text-decoration: none;
}

.menu li {
    display: block;
    color: white;
    padding: 1rem;
    font-size:1.3em;
    text-decoration: none;
}
  
.menu li a {
	color: #fff;
}

.menu li:hover, li:focus-within {
	text-decoration: underline;
    background: darkred !important;
    cursor: pointer;
    transition-duration: 0.4s;
}

.menu li:focus-within a {
	outline: none;
}

ul li ul {
	background: orange;
    visibility: hidden;
  	opacity: 0;
  	min-width: 5rem;
    position: absolute;
  	transition: all 0.5s ease;
  	margin-top: 1rem;
    left: 0;
  	display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
	clear: both;
	width: 100%;
}